# Credentials - never push to GitHub
.env

# Python cache files
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/

# Ignore generated test reports but keep folder
reports/*
!reports/.gitkeep

# IDE settings
.vscode/
.idea/